body {
    margin: 0;
    font-family: ' Open Sans', sans-serif;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #1e1f26;
    padding: 0;
}


.padding {
    padding: 6rem 9rem 1rem 16rem;
}

.title {
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.d-none {
    display: none;
}

.input-button {
    height: 40px;
    width: 250px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;

}

.input-pokemon {
    background: #f6f6f6;
    height: 27px;
    border: none;
    width: 200px;
    color: rgb(0, 0, 0);
    outline: none;
    border-radius: 10px;
    text-align: center;
}

.search-pokemon {
    height: 27px;
    border: none;

}

.startScreen {
    height: 100%;
    width: 100%;
    object-fit: contain;
    display: flex;
    justify-content: center;
    padding-top: 350px;
    align-items: center;
    flex-direction: column
}

.startScreen-img {
    margin-bottom: 50px;
    height: 158px;
    width: 523px;
    object-fit: contain;
}

.openPokedex {
    border: none;
    width: 140px;
    height: 42px;
    border-radius: 37px;
    background: #0a0a86bf;
    color: white;
    font-size: 19px;
    font-family: inherit;
}

.openPokedex:hover {
    background: white;
    color: #0a0a86bf;

    cursor: pointer;
}

.poke-container {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.pokemon {
    display: flex;
    border-radius: 10px 10px 5px 5px;
    height: 16rem;
    width: 23rem;
    background-color: rgb(255 46 46);
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative;
}

.name {
    /* pokemon name  */
    color: #ffff24;
    padding-left: 12px;
}

.type {
    /*pokemon type */
    border-radius: 25px;
    border: 1px solid black;
    background-color: greenyellow;
    position: absolute;
    left: 1rem;
    bottom: 8rem;
    width: 82px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.poke-img {
    /* img from pokemon*/
    position: absolute;
    right: 40px;
    bottom: 30px;
    height: 156px;
}

.info {
    text-align: center;
    color: white;
}

.d-block {
    display: block;
}

.poke-id {
    font-size: 38px;
    position: absolute;
    right: 16px;
    top: -20px;
    color: dimgray;

}

.pokeWindow {
    z-index: 100;
    height: 100%;
    width: 100%;
    justify-content: center;
    position: fixed;
    align-items: center;

}

/* Here starts the Window*/
.close-view {
    border: none;
    height: 46px;
    width: 50px;
    font-size: 40px;
    background: none;
    font-weight: bold;
}

.poke-view {
    height: 55%;
    width: 35%;
    border-radius: 8px;
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.overview {
    width: 100%;
    height: 15%;
    display: flex;

    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    justify-content: space-between;
}

.pokemon-info {
    display: flex;
    font-size: 21px;
    justify-content: space-evenly;
    cursor: pointer;
    background-color: white;
    border-bottom: 2px solid black;
    margin-top: 10px;


}

.navigation {
    display: flex !important;
    justify-content: space-evenly;
    font-size: 24px;
}

.view-name {
    margin-left: 1rem;
    margin-top: 1rem;
    color: white;
}

.view-type {
    position: absolute;
    left: 2rem;
    top: 5.5rem;
    background: gray;
    font-size: 24px;
    border-radius: 37px;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.4);
    height: 70px;
    width: 70px;

}

.ability-container {
    display: flex;
    flex-direction: column;
}

.abilities {
    display: flex;
    flex-direction: column;
}

.img-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    padding-bottom: 10px;
}

.view-img {
    object-fit: contain;
    height: 100%;

}

.view-img:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.input:focus-visible {
    text-decoration: none;
    border: none;
}

.view-stats {
    background: white;
    display: flex;
}

.active-link {
    text-decoration: underline !important;
    font-weight: bold !important;
    padding-bottom: 20px !important;
}

.show {
    overflow: scroll;
    flex-direction: column;
    display: flex;
    align-items: center;
    height: 70%;
    font-size: 29px;
    overflow-x: auto;

}

.stats {
    display: flex;
    padding: 1px;
}



.card-type {
    position: absolute;
    bottom: 8em;
    left: 2em;
    font-weight: 600;
    border-radius: 37px;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.4);
    font-size: 12px;
    height: 50px;
    width: 50px;
}

.close-view:hover {
    cursor: pointer;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.types {
    position: absolute;
    bottom: 3em;
    left: 2em;
    border-radius: 37px;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.4);
    font-size: 12px;
    height: 50px;
    width: 50px;
}

.stats-container {
    height: 40px;
    font-size: 22px;
}

.d-flex {
    display: flex;

}

.poke-img:hover {
    transform: scale(1.2);
}

/* Pokemon Type*/

.grass {
    background-color: #49D0B0;
}

.fire {
    background-color: #FC6C6D;
}

.water {
    background-color: #76BEFE;
}

.bug {
    background-color: #9CAD1A;
}

.electric {
    background-color: #FFCF4A;
}

.normal {
    background-color: #9D9B6A;
}

.poison {
    background-color: purple;
}

.fairy {
    background-color: palevioletred;
}

.ground {
    background-color: sienna;
}


@media (max-width:1920px) {}

/*Type ends here */

@media (max-width:1070px) {



.img-div{
    height: 22%;
}
.show{
    height: 50%;
}
}


@media(max-width: 890px){
    .poke-view{
        width: 400px;
        }

        .close-view{
            font-size: 30px;
        }
}
    




.progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    padding: 3px;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(47, 44, 56);
}

.progress-bar-fill {
    display: block;
    height: 22px;
    background-color: #ffffff;
    border-radius: 3px;
    transition: width 500ms ease-in-out;
}



.pokeball {
    height: 250px;
    width: 250px;
    border: 13 px solid #383b4f;
    border-radius: 50%;
    background-image: linear-gradient(#f51939 125px,
            white 125px);
    position: relative;
    animation: load 2s infinite;
}

@keyframes load {
    50% {
        transform: scale(0.7);
    }
}

.pokeball::before {
    position: absolute;
    content: '';
    height: 25px;
    width: 250px;
    background-color: #383b4f;
    top: 112.5px;
}

.pokeball::after {
    position: absolute;
    content: '';
    height: 90px;
    width: 90px;
    background-image: radial-gradient(#ffffff 0px, #ffffff 10px,
            #383b4f, #383b4f 15px,
            #ffffff 15px, #ffffff 32px,
            #383b4f 32px);
    border-radius: 50%;
    top: 80px;
    left: 80px;
}


.load-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}